body {
    background-color: #00202e;
    font-family: 'Courier New', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0;
    height: 100vh;
}

#container {
    background-color: #003f5c;
    border: 5px solid #8a508f;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100vh; 
    height: 100vh; 
    padding: 20px; 
    box-sizing: border-box;
}

#stopwatch {
    background-color: #2c4875;
    border: 5px solid #8a508f;
    padding: 20px;
    box-sizing: border-box;   
    
    border-radius: 50%;
}

#times {
    background-color: #2c4875;
    border: 5px solid #8a508f;
    padding: 20px;
    box-sizing: border-box;    

    height: 100vh;
    overflow: auto;

}
